<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css') }} ">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css') }}">
    <title>Usuarios</title>
</head>

<body>
    <header class="cabeçalho">
        <img src="{{url_for('static',filename='img/logo.png')}}" class="header_img">
        <ul class="header_links">
            <li class="link_lista">
                <a href="/">Home</a>
                
            </li>
            <li class="link_lista link_meio">
                <a href="/quemSomos">Quem somos</a>
                
            </li>
            <li class="link_lista link_meio">
                <a href="/contatos">Contato</a>
                
            </li>
            <li class="link_lista ">
                <a href="/users">Usuarios</a>
                
            </li>
        </ul>
    </header>
    {% for user in userDetails %} 
    
    <p>EMAIL:{{user[0]}}</p>
    <p>Assunto:{{user[1]}}</p>
    <p>Descrição:{{user[2]}}</p>
    <hr>
    
    
    {% endfor %} 
    
</body>
</html>